    .container {
        font-family: Oswald, sans-serif;
        color: #12044F;
        margin-bottom: 100px;
    }

    .bg-success {
        background-color: #82FF76 !important;
    }

    .bg-primary {
        background-color: #82FF76 !important;
    }

    .text-dark {
        color: #343a40 !important;
    }

    .btn-outline-secondary {
        color: #6c757d;
        border-color: #6c757d;
    }

    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-outline-dark {
        color: #343a40;
        border-color: #343a40;
    }

    .btn-outline-dark:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .img-table {
        max-width: 200px;
        height: auto;
    }