<app-navbar></app-navbar>
<div class="container mt-5" style="font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;">
    <h3>
        View User Details <a style="margin-left: 390px" (click)="redirectAllCustomers()" class="btn btn-success"><-
                Back</a>
    </h3>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>First Name:</th>
                <td [innerHTML]="getUser(getCustomer().userId).firstName"></td>
            </tr>
            <tr>
                <th class="list-group-item-secondary" style="background-color: #82FF76">Last Name:</th>
                <td class="list-group-item-secondary" style="background-color: #82FF76"
                    [innerHTML]="getUser(getCustomer().userId).lastName"></td>
            </tr>
            <tr>
                <th>Email Address:</th>
                <td [innerHTML]="getUser(getCustomer().userId).email"></td>
            </tr>
            <tr>
                <th class="list-group-item-secondary" style="background-color: #82FF76">Phone:</th>
                <td class="list-group-item-secondary" style="background-color: #82FF76"
                    [innerHTML]="getCustomer().customerPhone"></td>
            </tr>
            <tr>
                <th [innerHTML]="'Enabled:'"></th>
                <td>
                    <span *ngIf="getUser(getCustomer().userId).enabled === 0" class="text-danger">Suspended</span>
                    <span *ngIf="getUser(getCustomer().userId).enabled === 1">Active</span>
                </td>
            </tr>
            <tr>
                <th class="list-group-item-primary" style="background-color: #82FF76">Actions:</th>
                <td class="list-group-item-primary" style="background-color: #82FF76">
                    <a *ngIf="getUser(getCustomer().userId).enabled === 1" (click)="suspendUser(getCustomer().userId)"
                        class="btn btn-danger">Suspend</a>
                    <a *ngIf="getUser(getCustomer().userId).enabled === 0"
                        (click)="reactivateUser(getCustomer().userId)" class="btn btn-secondary">Reactivate</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>