<app-navbar></app-navbar>
<div class="container mt-5" style="font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"  [innerHTML]="'Update Size & Price To Pizza'"></h1>
            <div class="card-body">
                <form id="pizzaSizeForm">
                    <div class="form-group">
                        <label> Pizza </label>
                        <select name="pizzaId" id="pizzaId" class="form-control" >
                        	<option disabled selected value="''" [innerHTML]="'Please Select'"></option>
                                <ng-template ngFor let-tempPizza [ngForOf]="getPizzaList()">
                                <option [value]="tempPizza.pizzaId" [innerHTML]="tempPizza.name" [selected]="tempPizza.pizzaId === getPizzaSize().pizzaId"></option>
                        </ng-template>
                        </select>
                        <span class="text-danger" id="pizzaIdError" 
                        	style="visibility: hidden;" 
                        	[innerHTML]="'Please select 1 of the options!'">
                        </span>
                    </div>

                    <div class="form-group">
                        <label> Size </label>
                        <input
                                type = "text"
                                id="name"
                                name= "name"
                                class = "form-control"
                                placeholder = "Enter Pizza Size"
                                [value]="getPizzaSize().name"
                        />
                        <span class="text-danger" id="nameError" 
                        	style="visibility: hidden;" 
                        	[innerHTML]="'Not Empty!Max 40 letters allowed!'">
                        </span>
                    </div>

                    <div class="form-group">
                        <label> Price </label>
                        <input
                                type = "text"
                                id="price"
                                name= "price"
                                class = "form-control"
                                placeholder = "Enter Pizza Price"
                                (keypress)="validateNumber($event)"
                                [value]="getPizzaSize().price"
                        />
                        <span class="text-danger" id="priceError" 
                        	style="visibility: hidden;" 
                        	[innerHTML]="'Please provide valid price!'">
                        </span>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success" 
                        	[innerHTML]="'Update'"> 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

