<app-navbar></app-navbar>
<div class="container mt-5" style="font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;">
    <div class="row">
        <h1>All Pizzas</h1>
    </div>

    <ng-template [ngIf]="getHasAuthorityAdmin()">
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-success btn-sm mb-3" (click)="redirectAddPizza()">
                    Create New Pizza
                </button>
            </div>
        </div>
    </ng-template>

    <table class="table table-striped table-bordered" id="listingTable">
        <thead class="table-danger">
            <tr>
                <th class="text-center"> Image </th>
                <th class="text-center"> Name </th>
                <th class="text-center"> Description </th>
                <th class="text-center"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-tempPizza [ngForOf]="getPaginatedPizzaList()">
                <tr>
                    <td class="text-center">
                        <img (error)="tempPizza.imageUrl='https://t4.ftcdn.net/jpg/00/31/38/91/360_F_31389192_BEjagnNVligizqQwN6HvvOqgIJNmhHmj.jpg'"
                            src="{{tempPizza.imageUrl}}" height="100" width="133" />
                    </td>
                    <td class="text-center">{{ tempPizza.name }}</td>
                    <td class="text-center">{{ tempPizza.description }}</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <ng-template [ngIf]="getHasAuthorityAdmin()">
                                    <a class="dropdown-item update-pizza"
                                        (click)="redirectUpdatePizza(tempPizza.pizzaId)">
                                        Update
                                    </a>
                                </ng-template>
                                <a class="dropdown-item details-pizza"
                                    (click)="redirectPizzaDetails(tempPizza.pizzaId)">
                                    Details
                                </a>
                                <a class="dropdown-item view-sizes"
                                    (click)="redirectAllSizesByPizza(tempPizza.pizzaId)">
                                    View Sizes & Prices
                                </a>
                                <div class="dropdown-divider"></div>
                                <ng-template [ngIf]="getHasAuthorityAdmin()">
                                    <a class="dropdown-item delete-pizza" (click)="deletePizza(tempPizza.pizzaId)">
                                        Delete
                                    </a>
                                </ng-template>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>

    <nav aria-label="Page navigation" *ngIf="getPizzaList().length > 0">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="getCurrentPage() == 1">
                <a class="page-link" (click)="prevPage()">Previous</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Page {{ getCurrentPage() }} / {{ getTotalPages() }}</span>
            </li>
            <li class="page-item" [class.disabled]="getCurrentPage() == getTotalPages()">
                <a class="page-link" (click)="nextPage()">Next</a>
            </li>
        </ul>
    </nav>
</div>