<app-navbar></app-navbar>
<div class="container mt-5" style="font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;">
	<div class="jumbotron jumbotron-primary text-center" style="background-color: #c20e14; color: #d9d9d9;">
		<h2 [innerHTML]="'All Products in your cart'"></h2>
	</div>

	<div class="mb-5 mt-5">
		<button class="btn btn-danger mr-3" (click)="eraseAllItems()" [innerHTML]="'Clear Cart'"></button>
		<button class="btn btn-success" (click)="checkout()" [innerHTML]="'Checkout'"></button>
	</div>

	<table class="table table-bordered table-success table-hover table-stripped">
		<thead class="table-danger">
			<tr>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Item Id'">
				</th>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Pizza'">
				</th>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Size'">
				</th>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Unit Price'">
				</th>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Quantity'">
				</th>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Cart Price'">
				</th>
				<th class="text-center" style="text-align: center; vertical-align: middle;" [innerHTML]="'Action'">
				</th>
			</tr>
		</thead>

		<tbody>
			<ng-template ngFor let-cartItem [ngForOf]="getAllCartItems()">
				<ng-template ngFor let-tempSize [ngForOf]="getAllPizzaSizes()">
					<ng-template ngFor let-tempPizza [ngForOf]="getAllPizzas()">
						<ng-container *ngIf="cartItem.pizzaSizeId === tempSize.pizzaSizeId">
							<ng-container *ngIf="tempPizza.pizzaId === tempSize.pizzaId">
								<tr>
									<td class="text-center" style="text-align: center; vertical-align: middle;"
										[innerHTML]="cartItem.cartItemId">
									</td>
									<td class="text-center" style="text-align: center; vertical-align: middle;"
										[innerHTML]="tempPizza.name">
									</td>
									<td class="text-center" style="text-align: center; vertical-align: middle;"
										[innerHTML]="tempSize.name">
									</td>
									<td class="text-center" style="text-align: center; vertical-align: middle;">
										<span>&euro;</span>
										<span [innerHTML]="tempSize.price?.toFixed(2)"></span>
									</td>
									<td class="text-center" style="text-align: center; vertical-align: middle;"
										[innerHTML]="cartItem.quantity">
									</td>
									<td class="text-center" style="text-align: center; vertical-align: middle;">
										<span>&euro;</span>
										<span [innerHTML]="cartItem.price?.toFixed(2)"></span>
									</td>
									<td class="text-center" style="text-align: center; vertical-align: middle;">
										<button class="btn btn-danger" [innerHTML]="'Remove'"
											(click)="eraseItem(cartItem.cartItemId)">
										</button>
									</td>
								</tr>
							</ng-container>
						</ng-container>
					</ng-template>
				</ng-template>
			</ng-template>

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			<tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-center" style="text-align: center; vertical-align: middle;">
					<strong [innerHTML]="'Final Price:'"></strong>
				</td>
				<td class="text-center" style="text-align: center; vertical-align: middle;">
					<strong> <span>&euro;</span>
						<span [innerHTML]="calculateGrandTotal(getAllCartItems()).toFixed(2)"></span>
					</strong>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="mt-5 text-center">
		<button class="btn btn-success" (click)="redirectAllPizzas()" [innerHTML]="'Continue Shopping'"></button>
	</div>
</div>