<app-navbar></app-navbar>
<div class="container-wrapper">
    <div class="container mt-5" style="font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;">
        <div class="row mt-5">
            <form>
                <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3"
                    style="width: 100%; margin-left: 0%">
                    <div class="text-center">
                        <h1 [innerHTML]="'Receipt'"></h1>
                    </div>
                    <div class="row" style="color: #040c2f;">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <address>
                                <strong [innerHTML]="'Address'"></strong><br />
                                <span [innerHTML]="getShippingAddress().address"></span> <br />
                                <span [innerHTML]="getShippingAddress().city"></span> <br />
                                <span [innerHTML]="getShippingAddress().postcode"></span>
                            </address>
                        </div>

                    </div>

                    <div class="row">
                        <div class="container">
                            <table class="table table-hover" id="listingTable">
                                <thead>
                                    <tr>
                                        <th class="text-center" [innerHTML]="'Pizza'"></th>
                                        <th class="text-center" [innerHTML]="'Size'"></th>
                                        <th class="text-center" [innerHTML]="'Quantity'"></th>
                                        <th class="text-center" [innerHTML]="'Price'"></th>
                                        <th class="text-center" [innerHTML]="'Total'"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-template ngFor let-cartItem [ngForOf]="getAllCartItems()">
                                        <ng-template ngFor let-tempSize [ngForOf]="getAllPizzaSizes()">
                                            <ng-template ngFor let-tempPizza [ngForOf]="getAllPizzas()">
                                                <ng-container *ngIf="cartItem.pizzaSizeId === tempSize.pizzaSizeId">
                                                    <ng-container *ngIf="tempSize.pizzaId === tempPizza.pizzaId">
                                                        <tr>
                                                            <td class="text-center"><em
                                                                    [innerHTML]="tempPizza.name"></em>
                                                            </td>
                                                            <td class="text-center"><em
                                                                    [innerHTML]="tempSize.name"></em>
                                                            </td>
                                                            <td class="text-center" [innerHTML]="cartItem.quantity">
                                                            </td>

                                                            <td class="text-center"
                                                                [innerHTML]="'€' + tempSize.price?.toFixed(2)">
                                                            </td>

                                                            <td class="text-center"
                                                                [innerHTML]="'€' + cartItem.price?.toFixed(2)">
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-template>
                                        </ng-template>
                                    </ng-template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container mt-5" style="font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;">
    <h3>
        Grand Total Price: <span [innerHTML]="'€ ' + calculateGrandTotal(getAllCartItems()).toFixed(2)"></span>
    </h3>

    <div class="mt-5 text-center">
        <button type="button" class="btn btn-success mr-3" (click)="redirectPhoneConfirmation()" [innerHTML]="'Back'">
        </button>
        <button type="button" class="btn btn-danger mr-3" (click)="redirectCancelOrder()" [innerHTML]="'Cancel'">
        </button>
        <button type="button" class="btn btn-success" (click)="executeOrder()" [innerHTML]="'Continue'">
        </button>
    </div>
</div>